body {
    font-family: 'Verdana', sans-serif;
    color: #333; 
    background-color: #e0f7fa; 
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    
}

a {
    text-decoration: none;
    color: #00796b; 
}

a:visited {
    color: ##8dbab3; 
}

a:hover {
    color: #8dbab3; 
}

h1 {
    color: #004d40; 
}

h2 {
    color: #00796b; 
}

h3 {
    color: #004d40; 
}

p {
    color: #333; 
}

#assignments {
    list-style-type: none;
    padding: 0;
}

#assignments li {
    margin: 10px 0;
}
