body {
background-color: aliceblue;
}

#content {
background-color: antiquewhite;
}

columns-all {
    display:flex;
}

#main img {
    margin-right:5px;
    max-width: 100%;
}

#settings {
    display: none;
}
   
#login-menu ul {
    display:flex;
}
.one {
    flex:li;
}


/*larger resolutions */
@media only screen and (min-width:600px) {
    columns{
        display:flex;
    }
}

@keyframes bounce {
    background-color:
}